<<<<<<< HEAD
{% extends 'inventario_app/administrador/inventario/heder.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
=======
{% load static %}
{% load crispy_forms_tags %}

{% if user.is_authenticated and user.is_administrador %}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link rel="stylesheet" type="text/css" href="{% static "vendor/fontello-2f186091/css/fontello.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/animations.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/administrador.css" %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <title>Administrador</title>
    <meta name="theme-color" content="#563d7c">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
<body>
    <nav class="navbar  fixed-top  flex-md-nowrap p-0 " style="background-color: #0D32B1;">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href='/' style="color: white;" >Departamento Informática</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="{% url 'logout' %}" style="color: white;">Salir</a>
          </li>
        </ul>
      </nav>
          <div class="container-fluid">
            <div class="row">
              <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <img    src="{% static "img/logo.jpg" %}"  class="img-thumbnail" style="width:230px;height:70px;"  alt="">

                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="/">
                        <i class="fas fa-table"></i>
                        Inventario <span class="sr-only">(current)</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'administrador:actividad' %}">
                        <i class="fas fa-clipboard-list"></i>
                        Actividad
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'administrador:reportes' %}">
                        <i class="far fa-file-alt"></i>
                        Reportes Diarios
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'administrador:usuarios' %}">
                        <i class="fas fa-users"></i>                   
                        Usuarios
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'administrador:despacho_list' %}">
                          <i class="fas fa-dolly"></i>   
                          Movimientos
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="{%url 'administrador:insumo_index' %}">
                        <i class="fas fa-desktop"></i>
                          Insumos
                      </a>
                  </li>         
                  </ul>
          
                <!--  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Departamento de informática</span>
                    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                      <span data-feather="plus-circle"></span>
                    </a>
                  </h6>-->
                </div>
              </nav>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
      
>>>>>>> master
      
            <h1 class="h2">Agregar Inventario</h1>
            <hr>
            <div class="container" style="align-content: center;">
                  <div class="row">
                    <div class="col-md-8 col-sm-10 col-12">
                      <form method="post" enctype="multipart/form-data", novalidate>
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-12">
                            {{ form.colegio|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.equipo|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.codigo|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.marca|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.modelo|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.serie|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.numero_doc|as_crispy_field }}
                          </div>
                          <div class="col-4">
                            {{ form.Fecha|as_crispy_field }}
                          </div>
                          <div class="col-8">
                            {{ form.ubicacion|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.condicion|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.usuario|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.imagen|as_crispy_field }}
                          </div>
                          <div class="col-6">
                            {{ form.valido|as_crispy_field }}
                          </div>
                          {{ formset.management_form|crispy }}
                          <div class="col-2 ">
                            {% for f in formset %}
                              {{ f.as_p }}
                            {% endfor %}
                          </div>
                        </div>
                        <button type="submit" class="btn btn-success">Agregar</button>
                        <a href="{% url 'administrador:index' %}" class="btn btn-danger">Cancelar</a>
<<<<<<< HEAD
                        <a onclick="return abrir_modal('{% url 'administrador:inventario_delete' inventario.pk %}','Eliminar')"  class="btn btn-danger float-right" style="color: white;" >Eliminar</a>

=======
>>>>>>> master

                      </form>
                    </div>
                  </div>
              </div>
              <br>
<<<<<<< HEAD
{% endblock %}     
=======
          </main>
          <br>
          <br>
        </div>
      </div>
{% endif %}
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "js/jquery.plugin.min.js" %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" integrity="sha256-o8aByMEvaNTcBsw94EfRLbBrJBI+c3mjna/j4LrfyJ8=" crossorigin="anonymous"></script>    
<script src="{% static 'mycollections/libraries/django-dynamic-formset/jquery.formset.js' %}"></script>


</html>
>>>>>>> master
