{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="align-content: center;">
  <a href="{% url 'signup'  %}"><i class="fas fa-arrow-left"></i> Volver</a>
    <div class="row">
      <div class="col-md-8 col-sm-10 col-12">
        <h2>Registrar {{ user_type }}</h2>
        <br>
        <form method="post" novalidate>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Registrar</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
