{% extends 'inventario_app/administrador/despacho/heder.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}           
            <br>

            <div class="table-responsive">
              <table id="example" class="table table-striped display table-sm">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Tipo</th>
                    <th>Origen</th>
                    <th>Equipo</th>
                    <th>Destino</th>
                    <th></th>

                  </tr>
                </thead>
                <tbody>
                  {% for despacho in despacho %}
                  <tr>
                    <td>{{despacho.id}}</td>
                    <td> {{despacho.equipo.equipo}} </td>
                    <td>{{despacho.origen}}</td>
                    <td style="text-transform: uppercase;">{{despacho.equipo.codigo}}</td>
                    <td>{{despacho.destino}}</td>

                    <td class="text-right">
                      <a href="{% url  'administrador:despacho_detail' despacho.pk %}" class="btn btn-primary">Ver</a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td class="bg-light text-center font-italic" colspan="5">No tienes creado ningun inventario todavia</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
{% endblock %}         